.io-strong {
    font-weight: bold;
}

#io-canvas {
    cursor: pointer;
}

.io-btn {
    background: #6a7fec;
    color: white;
    border: 0;
    border-radius: 9px;
    padding: 4px 23px;
    cursor: pointer;
    outline: none;
}

.io-file-upload input[type=file] {
    width: 0;
    height: 0;
    opacity: 0;
}

.io-text-group {
    margin-bottom: 15px;
}

.io-text-group p {
    margin: 4px 0;
}

#io-overlay {
    display: none;
}

.io-slider {
    -webkit-appearance: none;
    margin: 0;
    height: 5px;
    background: #6a7fec;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.io-slider:hover {
    opacity: 1;
}

.io-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #6a7fec;
    cursor: pointer;
    border-radius: 12px;
}

.io-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #6a7fec;
    cursor: pointer;
    border-radius: 12px;
}
