#io-canvas {
    cursor: pointer;
}

.io-btn {
    background: #6a7fec;
    color: white;
    border: 0;
    border-radius: 9px;
    padding: 4px 23px;
    cursor: pointer;
    outline: none;
}

.io-file-upload input[type=file] {
    width: 0;
    height: 0;
    opacity: 0;
}

.io-text-group {
    margin-bottom: 15px;
}

.io-text-group p {
    margin: 4px 0;
}

/* Scanner styles */
/*
.io-scanner-wrapper {
    !*position: absolute;*!
}

.io-circle-control {
    width: 24px;
    height: 24px;
    background: #fd598e;
    border-radius: 12px;
    cursor: pointer;
}

.io-stick {
    height: 300px;
    width: 1px;
    margin: 0 auto;
    background: black;
}*/
